<%- include("partials/header") -%>

<h1>Home</h1>
<p>
    <%= homeContent %>
</p>

<% newPostItems.forEach(function(postItem){ %>

<h1><%= postItem.postTitle %> </h1>
<p>
    <%= postItem.postText.substring(0, 100) + " ..." %>
    <a href= "/posts/<%=postItem.postTitle%>">Read More</a>
</p>
<% }); %>

<%- include("partials/footer") -%>